<div class="container-fluid main-body">
  <app-header></app-header>
  <!--<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>-->
  <!--<mat-sidenav-container id="sidenavContainer" fullscreen class="example-container">
 <mat-sidenav mode="side" #sidenav id="sidenav" opened>
   <mat-list id="menus">
     <mat-list-item><a class="menu-item" routerLink="/diary/new">New Event</a></mat-list-item>
     <mat-list-item><a class="menu-item" routerLink="/diary/all">My Diary</a></mat-list-item>
   </mat-list>
 </mat-sidenav>
 <mat-sidenav-content>
   <router-outlet></router-outlet>
 </mat-sidenav-content>
</mat-sidenav-container>-->
  <br>
  <!--<h1>test</h1>-->
  <!--<div class="container">-->
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <!--</div>-->
</div>
